:root {
  --base-color:#B2333F;
  --highlight-color: #FFC380;
  --font-Roboto-flex: 'Roboto Flex', sans-serif;
}

.Issues-Title {
  text-align: center;
  font-size: 3.6rem;
  margin: 10vh;
}
.Banner.section {
  padding-top: 0vh;
  padding-bottom: 0vh;
}
.Navigation-Bar_Logo {
  /*! margin-left: 1.5vw; */
  font-size: 1.5rem;
  font-weight: bold;
  /*! font-family: "Magazine"; */
  color: black;
  font-family: "DM Serif Text", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigation-Bar_Nav-Links_Link:hover {
  border-bottom: 5px solid black;
  font-size: 2rem;
}
.Navigation-Bar_Nav-Links_Link-active {
  border-bottom: 5px solid black;
  font-size: 2rem;
}
.Navigation-Bar_Nav-Links {
  width: 29.8rem;
  display: flex;
  /*! margin-right: auto; */
  margin-left: 20px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.Navigation-Bar_Nav-Links_Link {
  height: 100%;
  width: 246.4%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-bottom 0.1s ease;
  /*! margin-right: 0.8vw; */
  padding-right: 0.4vw;
  padding-left: 0.4vw;
}

.Navigation-Bar_Nav-Links_Link a{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  width: max-content;
  font-size: 1.5rem;
}

header{
    padding: 0px;
    margin: 0px;
    background-color: #D0CFEC;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;  
    background-color: #FFF;
}
.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color:#202020;
  background-image: url(/assets/img/textbackgrounds/Header-Background.png);
  background-size: cover;
  background-blend-mode: multiply; /* try overlay, screen, etc. */

}
.Banner h1 {
  font-size: 6em;
  font-family: 'DM Serif Text',serif;
  font-style: italic;

}
.Banner h2 {
  font-size: 2rem;
  color: white !important;
  font-family: 'DM Serif Text',serif;
}
.Banner h1, .Banner h2{
  color: #3e5626;
  margin: 0;
}
#header-navigation-button {
  padding: 10px 0px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  left: 93.8vw;
  bottom: 4vh;
  border: 2px solid black;
  transition: transform 0.3s ease;
}
#header-navigation-button:hover {
  background: #81252e;
}

.Information_Picker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid black;
  padding: 0px 2vw;
  width: 19vw;
  align-items: center;
  height: stretch;
}
.Article_Section_Paragraph {
  padding: 1vh;
  /*! font-family: var(--font-Roboto-flex); */
  text-align: justify;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  margin: 0px 3vw;
  overflow-y: scroll;
  max-height: 67%;
}
.Article_Section_Header {
  /*! margin-top: 1vh; */
  /*! margin-left: ; */
  /*! margin-left: 2vw; */
  font-weight: bolder;
  /*! font-family: var(--font-Roboto-flex); */
  height: 100;
  text-align: left;
  font-size: 3.6rem;
  /*! margin-left: 3vw; */
  margin: 10vh 2vw;
}
.Article_Section {
  /*! background-color: var(--highlight-color); */
  /*! border: 2px solid; */
  /*! margin: 5vh; */
  /*! margin-bottom: 5vh; */
  justify-content: space-evenly;
  width: fit-content;
  display: none;
  /*! border-bottom: 1px solid; */
}
#content {
  /*! background: var(--highlight-color); */
  /*! padding: 10vh; */
  /*! padding-bottom: 1ovh; */
  /*! padding-left: 0; */
  /*! padding-right: 0; */
  /*! padding-top: 10vh; */
  /*! padding-bottom: 10vh; */
}

#information {
  display: flex;
  flex-direction: row;
  /*! border-bottom: 5px solid black; */
  max-height: 90vh;
  font-family: serif;
}
.Banner_Header {
  background-size: 597.4px;
  padding: 15px 30px;
  display: inline-block;
  font-size: 1.5rem;
  /*! font-weight: bold; */
  /*! font-family: 'Courier New', monospace; */
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
}

.Footer_Nav-Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Footer_Nav-Links_Link {
  color: black;
  text-align: center;
}
.Footer_Social-Media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Footer_Social-Media_Link {
  color: black;
  text-align: center;
}

.Footer_Container {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-content: center;
  border-top: 5px solid black;
}
.Footer_Logo_Text {
  font-size: 2rem;
  /*! height: 100%; */
  display: inline-block;
  text-align: center;
  align-self: center;
  font-family: "DM Serif Text", serif;
}
.Footer_Container {
}
.Footer_Container {
}
.Footer_Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Publication_Materials_Header {
  text-align: center;
  font-size: 2rem;
  /*! font-family: var(--font-Roboto-flex); */
}

.Publication_Materials_Container {
  display: flex;
  justify-content: space-evenly;
}
.Publication_Materials_Container video{
  height: 50vh
}
.Publication_Materials {
  /*! background-color: var(--base-color); */
  padding: 4.8vh;
}
.Article_Section_Active{
  display: block;
}

.Information_Picker_Button {
  background: none;
  border: none;
  font-size: 2rem;
  font-family: serif;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
  /*! height: -46.4%; */
  width: 20vw;
  text-align: center;
  height: 100%;
}
.Information_Picker_Button_Active {
  font-weight: bolder;
  border-bottom: 2px solid black;
  font-size: 2.5rem;
}
.Information_Picker_Button:hover {
  font-weight: bolder;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: 2.5rem;
  /*! width: 1; */
}


#Publication-Link {
  border-left: 1px solid;
  padding-left: 1vw;
  font-weight: bolder;
  padding-right: 1vw;
  margin: 0;
}

.Issues-Container {
  border-left: 1px solid black;
  width: 19.4vw;
  padding: 0px 2vw;
  display: flex;
  height: 84.5%;
}

#publishes {
  display: flex;
  /*! flex-direction: row-reverse; */
}

.Issue {
  display: flex;
  flex-direction: column;
  /*! padding-bottom: 10vh; */
  border-bottom: 1px solid black;
  /*! margin-bottom: 10vh; */
  height: min-content;
  width: max-content;
}
.Issue_Title {
  font-size: 2rem;
}
.section{
  padding-top: 10vh;
  padding-bottom:20vh;
}
#Publication-Link a {
  font-weight: bold;
}

.Issue_Title-Container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.Issue_Link {
  height: min-content;
  margin-top: 1vh;
}
.Article_Section_Header{
  text-align: center !important;
}
@media (max-width:600px){
 
  #information{
    display: flex;
    flex-direction: column;
    
    max-height:   none !important;
  }
  #publishes{
    display: flex;
    flex-direction: column
  }
  .Issue-Container{
    width: 100vw
  }
  .Information_Picker{
    border-bottom: 2px solid black;
    width: 99%;
    flex-direction: row;
    height: 5vh;
    padding: 0;
    border-left: 0px;
  }
  .Information_Picker_Button{
    font-size: 2rem;
    width: 100%;
  }
  .Article_Section_Paragraph{
    font-size: 1.2rem;
  }
  #header-navigation-button{
    left: 45vw;
    bottom: 6.8vh;
  }
  .Banner h1{
    font-size: 4rem;
  }
  .Banner h2{
    font-size: 1rem;
  }
  .Article_Section_Paragraph{
    text-align: left;
  }
}