html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
}
header{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
.Navigation-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 0;
    width: 100vw;
    height: 4.5vh;
    position: fixed;
    z-index: 1;
    background-color:white;
}
