html{
    padding: 0;
    margin: 0;
}
header{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
.Navigation-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 0;
    width: 100vw;
    height: 4.5vh;
    position: fixed;
    z-index: 1;
    background-color:white;
}
.Hamburger-Menu{
    display: none;
}
.Hamburger-Menu-Button{
    display: none;
}
.hidden{
    display: none !important;
}

.Navigation-Bar_Logo_Image {
  height: 3rem;
  width: 3rem;
}
.Navigation-Bar_Logo_Text {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
@media (max-width: 768px){
    .Hamburger-Menu{
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: white;
        height: 200.4%;
        width: 100.5vw;
        z-index: 2;
    }
    .Hamburger-Menu_Line{
        width: 100%;
        background-color: white;
        z-index: 3;
        /*! position: fixed; */
    }
    .Navigation-Bar_Nav-Links_Link{
        display: none !important;
    }
    .Hamburger-Menu-Button{
        display: block;
        border: none;
        background: none;
    }
    
    .Hamburger-Menu_Buttons {
    display: flex;
    /*! flex-direction: row-reverse; */
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid;
    justify-content: space-between;
    }
    

.Hamburger-Menu_Button-Close {
  background: none;
  border: none;
  margin: 1vw;
  padding: 0;
}
.Hamburger-Menu_Links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 5vh;
  width: 100vw;
}
.Hamburger-Menu_Links a{
  height: 23vh;
  color: black;
  text-decoration: none;
  font-size: 2rem
}
.Navigation-Bar_Nav-Links{
    display: none !important;
}

a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
html{
    overflow-x: hidden;
}
}